<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <h3 style="text-align: center">
                    404
                </h3>
                <p style="text-align:center">
                    Seems like you're lost!
                </p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
